<%= simple_form_for [@chart, @chart_run], html: { data: { id: @chart_run.id.to_s }, id: "trend-chart-filter-form" } do |f| %>
<div class="segment-content">
  <div class="filters">
    <div class="filter-element">
      <input type="submit" class="bck-pink" id="show-me" value="Show me" />
    </div>
    <div class="filter-element">
      <h3>Gender</h3>
      <%= f.input :gender_opt, as: :radio_buttons, collection: ["All", "Male", "Female"], label: false %>
    </div>
    <div class="filter-element" id="age-filter">
      <h3>Age Range <span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
      <div class="slider"></div>
      <%= f.input :low_age_opt, as: :hidden %>
      <%= f.input :high_age_opt, as: :hidden %>
    </div>
    <div class="filter-small-element">
      <h3>Student</h3>
      <%= f.input :student_opt, as: :radio_buttons, collection: [["All", "NULL"], ["Yes", "TRUE"], ["No", "FALSE"]], label: false %>
    </div>
    <div class="filter-small-element">
      <h3>Location</h3>
      <%= f.input :location_opt, as: :check_boxes, collection: ["All", "NYC", "LA", "DC", "SF", "Dallas", "Chicago"], label: false %>
    </div>
    <div class="filter-small-element">
      <h3>Influencer</h3>
      <%= f.input :influencer_opt, as: :radio_buttons, collection: [["All", "NULL"], ["Yes", "TRUE"], ["No", "FALSE"]], label: false %>
    </div>
    <div class="filter-small-element">
      <h3>Occasion</h3>
      <%= f.input :occasion_add_opt, as: :select, collection: ["All"] + @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
      <%= f.input :occasion_sub_opt, as: :select, collection: @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-small-element">
      <h3>Color</h3>
      <%= f.input :color_add_opt, as: :select, collection: ["All"] + @color_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      <%= f.input :color_sub_opt, as: :select, collection: @color_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
    </div>
    <div class="filter-small-element">
      <h3>Pattern</h3>
      <%= f.input :pattern_add_opt, as: :select, collection: ["All"] + @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      <%= f.input :pattern_sub_opt, as: :select, collection: @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
    </div>
    <div class="filter-small-element">
      <h3>Fabric</h3>
      <%= f.input :fabric_add_opt, as: :select, collection: ["All"] + @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      <%= f.input :fabric_sub_opt, as: :select, collection: @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
    </div>
    <div class="filter-small-element">
      <h3>Sort</h3>
      <%= f.input :sort_opt, as: :radio_buttons, collection: ["User ID", "Item ID", "Style", "Color", "Retailer", "Brand", "Pattern", "Fabric"], label: false %>
    </div>
  </div>
  <div style="clear:left">&nbsp;</div>
</div>
<div class="segment-content">
    <div class="filters">
      <div class="filter-big-element">
        <div class="label-text"><h2>Who</h2></div>
        <div id="who" class="custom-tabs">
          <ul>
            <li><a href="#who-1" class="who">Added</a></li>
            <li><a href="#who-2" class="who">Worn</a></li>
            <li><a href="#who-2" class="who">Bought</a></li>
          </ul>
          <div id="who-1">
          </div>
          <div id="who-2">
          </div>
          <div id="who-3">
          </div>
        </div>
        <%= f.input :event_opt, as: :hidden %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>Brand</h3></div>
        <%= f.input :brand_add_opt, as: :select, collection: ["All"] + @brand_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3></h3></div>
        <%= f.input :brand_sub_opt, as: :select, collection: @brand_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>Retailer</h3></div>
        <%= f.input :retailer_add_opt, as: :select, collection: ["All"] + @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3></h3></div>
        <%= f.input :retailer_sub_opt, as: :select, collection: @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>Style</h3></div>
        <%= f.input :style_add_opt, as: :select, collection: ["All"] + @style_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3></h3></div>
        <%= f.input :style_sub_opt, as: :select, collection: @style_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element" id="price-filter-opt">
        <div class="label-text"><h3>Price</h3></div>
        <div class="content-value">
          <div class="slider" data-min-input="chart_run_low_price_opt" data-max-input="chart_run_high_price_opt"></div>
          <%= f.input :low_price_opt, as: :hidden %>
          <%= f.input :high_price_opt, as: :hidden %>
        </div>
        <h3><span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
      </div>
      <div class="filter-small-element">
        <h3>No Price</h3>
        <%= f.input :no_price_opt, as: :radio_buttons, collection: [["All", "NULL"], ["Include", "TRUE"], ["Exclude", "FALSE"]], label: false %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>When</h3></div>
        <%= f.input :start_date_opt, as: :string, input_html: { placeholder: "yyyy-mm-dd", class: "datepicker" }, label: false %>
        <%= f.input :end_date_opt, as: :string, input_html: { placeholder: "yyyy-mm-dd", class: "datepicker" }, label: "to" %>
      </div>
    </div>
    <div style="clear:left">&nbsp;</div>
</div>
<div class="segment-content last-segment">
  <div class="filters">
    <h2>Only show</h2>
    <div class="filter-big-element">
      <div class="label-text"><h3>Brand</h3></div>
      <%= f.input :brand_add_search, as: :select, collection: ["All"] + @brand_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :brand_sub_search, as: :select, collection: @brand_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Retailer</h3></div>
      <%= f.input :retailer_add_search, as: :select, collection: ["All"] + @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :retailer_sub_search, as: :select, collection: @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Style</h3></div>
      <%= f.input :style_add_search, as: :select, collection: ["All"] + @style_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :style_sub_search, as: :select, collection: @style_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Color</h3></div>
      <%= f.input :color_add_search, as: :select, collection: ["All"] + @color_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :color_sub_search, as: :select, collection: @color_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Pattern</h3></div>
      <%= f.input :pattern_add_search, as: :select, collection: ["All"] + @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :pattern_sub_search, as: :select, collection: @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Fabric</h3></div>
      <%= f.input :fabric_add_search, as: :select, collection: ["All"]  + @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :fabric_sub_search, as: :select, collection: @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Occasion</h3></div>
      <%= f.input :occasion_add_search, as: :select, collection: ["All"] + @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :occasion_sub_search, as: :select, collection: @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element" id="price-filter-search">
        <div class="label-text"><h3>Price</h3></div>
        <div class="content-value">
          <div class="slider" data-min-input="chart_run_low_price_search" data-max-input="chart_run_high_price_search"></div>
          <%= f.input :low_price_search, as: :hidden %>
          <%= f.input :high_price_search, as: :hidden %>
        </div>
        <h3><span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
      </div>
      <div class="filter-small-element">
        <h3>No Price</h3>
        <%= f.input :no_price_search, as: :radio_buttons, collection: [["All", "NULL"], ["Include", "TRUE"], ["Exclude", "FALSE"]], label: false %>
      </div>
  </div>
</div>
<% end %>