<% title 'Brand Share of Closet over time' %>

<%= content_for :title do %>
  <%= render partial: "title" %>
<% end %>

<%= content_for :segment do %>
  <%= render partial: "filter" %>
<% end %>

<%= content_for :sidebar_r do %>
  <div class="icon-l">&nbsp;</div>
  <div class="icon-d">&nbsp;</div>
  <div class="icon-e">&nbsp;</div>
  <div class="icon-f">&nbsp;</div>
  <div class="icon-q">&nbsp;</div>
  <div class="sidebar">
    <div class="sidebar-stats">
      <div class="stats">
        Next 15 Days<br /><br /><span class="big-number">55</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-green" style="width:55%">&nbsp;</div>
        </div>
      </div>
      <div class="stats">
        Next 30 Days<br /><br /><span class="big-number">100</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-red" style="width:100%">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="sidebar-form">
      <h3>Notes about Peplums</h3>
      Alexis Smith Trend shows signs of resurgence even at the store level.<br />
      2/28/2013
      <div class="textarea-container">
        <textarea name="note" placeholder="Add new note"></textarea>
        <div class="textarea-base1">
          Public/Private
        </div>
        <div class="textarea-base2">
          <input type="button" name="add-note" class="bck-green" value="Add Note" />
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="big_chart" id="brand-share-chart" data-json="<%= chart_path(@chart, t: Time.now.to_i) %>" data-pattern-odd="<%= asset_path "pattern.png" %>" data-pattern-even="<%= asset_path "pattern-d.png" %>" data-width="870" data-height="400">
  <div id="brand-share-placeholder" class="hide alert alert-warning">No data yet available... Try again in a few moments.</div>
</div>
<div class="big_chart_zoom" id="brand-share-chart-zoom" data-width="870" data-height="80"></div>
