<% title 'Home' %>

<style type="text/css">
  .dc-chart {
      float: left;
  }

  .dc-chart rect.bar {
      stroke: none;
      fill: steelblue;
  }

  .dc-chart rect.bar:hover {
      fill-opacity: .5;
  }

  .dc-chart rect.stack1 {
      stroke: none;
      fill: red;
  }

  .dc-chart rect.stack2 {
      stroke: none;
      fill: green;
  }

  .dc-chart rect.deselected {
      stroke: none;
      fill: #ccc;
  }

  .dc-chart .sub .bar {
      stroke: none;
      fill: #ccc;
  }

  .dc-chart .pie-slice {
      fill: white;
      font-size: 12px;
      cursor: pointer;
  }

  .dc-chart .pie-slice :hover{
      fill-opacity: .8;
  }

  .dc-chart .selected path{
      stroke-width: 3;
      stroke: #ccc;
      fill-opacity: 1;
  }

  .dc-chart .deselected path{
      strok: none;
      fill-opacity: .5;
      fill: #ccc;
  }

  .dc-chart .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }

  .dc-chart .axis text {
      font: 10px sans-serif;
  }

  .dc-chart .grid-line line {
      fill: none;
      stroke: #ccc;
      opacity: .5;
      shape-rendering: crispEdges;
  }

  .dc-chart .brush rect.background {
      z-index: -999;
  }

  .dc-chart .brush rect.extent {
      fill: steelblue;
      fill-opacity: .125;
  }

  .dc-chart .brush .resize path {
      fill: #eee;
      stroke: #666;
  }

  .dc-chart path.line {
      fill: none;
      stroke-width: 1px;
  }

  .sub._0 path.line {
    stroke: green;
  }

  .sub._1 path.line {
    stroke: steelblue;
  }

  .dc-chart circle.dot{
      fill: steelblue;
  }

  .dc-chart g.stack1 path.line {
      stroke: green;
  }

  .dc-chart g.stack1 circle.dot{
      fill: green;
  }

  .dc-chart g.stack2 path.line {
      stroke: red;
  }

  .dc-chart g.stack2 circle.dot{
      fill: red;
  }

  .dc-chart g.dc-tooltip path{
      fill: none;
      stroke: grey;
      stroke-opacity: .8;
  }

  .dc-chart path.area {
      fill: steelblue;
      fill-opacity: .3;
      stroke: none;
  }

  .dc-chart g.stack1 path.area {
      fill: green;
  }

  .dc-chart g.stack2 path.area {
      fill: red;
  }

  .dc-chart .node {
      font-size: 0.7em;
      cursor: pointer;
  }

  .dc-chart .node :hover{
      fill-opacity: .8;
  }

  .dc-chart .selected circle {
      stroke-width: 3;
      stroke: #ccc;
      fill-opacity: 1;
  }

  .dc-chart .deselected circle {
      strok: none;
      fill-opacity: .5;
      fill: #ccc;
  }

  .dc-chart .bubble {
      stroke: none;
      fill-opacity: 0.6;
  }

  .dc-data-count {
      float: right;
      margin-top: 15px;
      margin-right: 15px;
  }

  .dc-data-count .filter-count {
      color: #3182bd;
      font-weight: bold;
  }

  .dc-data-count .total-count {
      color: #3182bd;
      font-weight: bold;
  }

  .dc-data-table {}

  .dc-chart g.state{
      cursor: pointer;
  }

  .dc-chart g.state :hover{
      fill-opacity: .8;
  }

  .dc-chart g.state path {
      stroke: white;
  }

  .dc-chart g.selected path {
  }

  .dc-chart g.deselected path {
      fill: grey;
  }

  .dc-chart g.selected text {
  }

  .dc-chart g.deselected text {
      display: none;
  }

  .dc-chart g.county path {
      stroke: white;
      fill: none;
  }

  .dc-chart g.debug rect{
      fill: blue;
      fill-opacity: .2;
  }
</style>

<%= content_for :left_controls do %>
  <div>
    <a class="btn" href="#" id="open-filters"><i id="open-filter-icon" class="icon-chevron-right"></i></a>
  </div>
<% end %>

<%= content_for :sidebar do %>
  <div class="sidebar" id="sidebar">
    <div class="title">
      <h2>Filter segment </h2>
      <h2 class="alternate"><%= link_to "or choose a saved one", "" %></h2>
      <div class="filter_element">
        <input type="submit" class="bck-pink" id="show-me" value="Show me" />
      </div>
    </div>
    <div class="filters">
        <div class="filter_element">
          <h3>Gender</h3>
          <input name="gender" type="radio" id="gender_all" value="all" checked="checked" /> <label for="gender_all"><span></span>All</label>
          <input name="gender" type="radio" id="gender_male" value="male" /> <label for="gender_male"><span></span>Male</label>
          <input name="gender" type="radio" id="gender_female" value="female" /> <label for="gender_female"><span></span>Female</label>
        </div>
        <div class="filter_element" id="age-filter">
          <h3>Age Range <span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
          <div class="slider"></div>
        </div>
        <div class="filter_element">
          <h3>Student</h3>
          <input name="student" type="radio" id="student_all" value="all" checked="checked" /> <label for="student_all"><span></span>All</label>
          <input name="student" type="radio" id="student_yes" value="yes" /> <label for="student_yes"><span></span>Yes</label>
          <input name="student" type="radio" id="student_no" value="no" /> <label for="student_no"><span></span>No</label>
        </div>
        <div class="filter_element">
          <h3>Location</h3>
          <input name="location[]" type="checkbox" id="location_all" value="all" checked="checked" /> <label for="location_all"><span></span>All</label>
          <input name="location[]" type="checkbox" id="location_nyc" value="nyc" /> <label for="location_nyc"><span></span>NYC</label>
          <input name="location[]" type="checkbox" id="location_la" value="la" /> <label for="location_la"><span></span>LA</label>
          <input name="location[]" type="checkbox" id="location_dc" value="dc" /> <label for="location_dc"><span></span>DC</label>
          <input name="location[]" type="checkbox" id="location_sf" value="sf" /> <label for="location_sf"><span></span>SF</label>
          <input name="location[]" type="checkbox" id="location_dallas" value="dallas" /> <label for="location_dallas"><span></span>Dallas</label>
          <input name="location[]" type="checkbox" id="location_chicago" value="chicago" /> <label for="location_chicago"><span></span>Chicago</label>
        </div>
        <div class="filter_element">
          <h3>High Price</h3>
          <input name="price" type="radio" id="price_all" value="all" checked="checked" /> <label for="price_all"><span></span>All</label>
          <input name="price" type="radio" id="price_no_price" value="no_price" /> <label for="price_no_price"><span></span>Items with no price</label>
          <input name="price" type="radio" id="price_over_3000" value="over_3000" /> <label for="price_over_3000"><span></span>Items priced over $3,000</label>
        </div>
        <div class="filter_element" id="price-filter">
          <h3>Price <span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
          <div class="slider"></div>
        </div>
        <div class="filter_element">
          <h3>Influencer</h3>
          <input name="influencer" type="radio" id="influencer_include" value="include" checked="checked" /> <label for="influencer_include"><span></span>Include</label>
          <input name="influencer" type="radio" id="influencer_exclude" value="exclude" /> <label for="influencer_exclude"><span></span>Exclude</label>
          <input name="influencer" type="radio" id="influencer_only" value="only" /> <label for="influencer_only"><span></span>Only influencers</label>
        </div>
        <div class="filter_element">
          <h3>Staff</h3>
          <input name="staff" type="radio" id="staff_include" value="include" checked="checked" /> <label for="staff_include"><span></span>Include</label>
          <input name="staff" type="radio" id="staff_exclude" value="exclude" /> <label for="staff_exclude"><span></span>Exclude</label>
        </div>
        <div class="filter_element">
          <h3>Date Range</h3>
          <label for="date_start">From:</label><input name="date_start" class="datepicker" type="text" id="date_start" placeholder="dd/mm/yyyy" />
          <label for="date_end">To:</label><input name="date_end" class="datepicker" type="text" id="date_end" placeholder="dd/mm/yyyy" />
        </div>
    </div>
    <div style="clear:left">&nbsp;</div>
  </div>
<% end %>

<%= content_for :sidebar_r do %>
  <div class="icon-l">&nbsp;</div>
  <div class="icon-d">&nbsp;</div>
  <div class="icon-e">&nbsp;</div>
  <div class="icon-f">&nbsp;</div>
  <div class="icon-q">&nbsp;</div>
  <div class="sidebar">
    <div class="sidebar-stats">
      <div class="stats">
        Next 15 Days<br /><br /><span class="big-number">55</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-green" style="width:55%">&nbsp;</div>
        </div>
      </div>
      <div class="stats">
        Next 30 Days<br /><br /><span class="big-number">100</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-red" style="width:100%">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="sidebar-form">
      <h3>Notes about Peplums</h3>
      Alexis Smith Trend shows signs of resurgence even at the store level.<br />
      2/28/2013
      <div class="textarea-container">
        <textarea name="note" placeholder="Add new note"></textarea>
        <div class="textarea-base1">
          Public/Private
        </div>
        <div class="textarea-base2">
          <input type="button" name="add-note" class="bck-green" value="Add Note" />
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :bottom do %>
  <div class="wide3">
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-c">&nbsp;</div>
        <h2>COLORS</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-sty">&nbsp;</div>
        <h2>STYLES</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-seg">&nbsp;</div>
        <h2>SEGMENTS</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-c">&nbsp;</div>
        <h2>COLORS</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
  </div>
<% end %>

<input name="selector1" class="green" type="checkbox" id="selector1" value="selector1" checked="checked" data-id="0" /> <label for="selector1"><span></span>Adjusted Specific Items Added</label>
<input name="selector2" class="blue" type="checkbox" id="selector2" value="selector2" checked="checked" data-id="1" /> <label for="selector2"><span></span>Adjusted Specific Wearings</label>
<div class="big_chart" id="dashboard-chart" data-json="<%= chart_path("trend", format: :json) %>">
  <span>Trend line</span>
  <a class="reset" href="javascript:weekly_chart.filterAll(); dc.redrawAll();" style="display: none;">[reset]</a>
</div>
<div class="small_chart" id="weekly-chart"></div>
