<% title "Trends" %>

<%= content_for :left_controls do %>
  <div>
    <a class="btn" href="#" id="open-filters"><i id="open-filter-icon" class="icon-chevron-right"></i></a>
  </div>
<% end %>

<%= content_for :sidebar_r do %>
  <div class="icon-l">&nbsp;</div>
  <div class="icon-d">&nbsp;</div>
  <div class="icon-e">&nbsp;</div>
  <div class="icon-f">&nbsp;</div>
  <div class="icon-q">&nbsp;</div>
  <div class="sidebar">
    <div class="sidebar-stats">
      <div class="stats">
        Next 15 Days<br /><br /><span class="big-number">55</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-green" style="width:55%">&nbsp;</div>
        </div>
      </div>
      <div class="stats">
        Next 30 Days<br /><br /><span class="big-number">100</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-red" style="width:100%">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="sidebar-form">
      <h3>Notes about Peplums</h3>
      Alexis Smith Trend shows signs of resurgence even at the store level.<br />
      2/28/2013
      <div class="textarea-container">
        <textarea name="note" placeholder="Add new note"></textarea>
        <div class="textarea-base1">
          Public/Private
        </div>
        <div class="textarea-base2">
          <input type="button" name="add-note" class="bck-green" value="Add Note" />
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :filters do %>
  <div class="filters-zone">
    <div class="title-container">
      <div class="title">
        <h2>Currently Viewing: Tory Burch (My Brand)</h2>
      </div>
      <div class="title-buttons">
        <div class="change-filters">
          <h3 class="col-blue">Change Filters</h3>
        </div>
        <div class="my-saved-segments" id="my-saved-segments">
          <h3 class="color-blue">My Saved Segments <i id="icon" class="icon-chevron-down"></i></h3>
        </div>
      </div>
    </div>

    <div class="filters-container" id="filters-container">
      <div class="define-your-segment">
        <h2>Define your segment</h2>
      </div>
      <div class="filter-your-results">
        <h2>Filter your results</h2>
      </div>
      <div class="segment">
        <div class="segment-left">
          <%= simple_form_for [@chart, @chart_run], html: { remote: true, data: { id: @chart_run.id.to_s }, id: "trend-chart-filter-form" } do |f| %>
          <div class="filters">
            <div class="filter_element">
              <input type="submit" class="bck-pink" id="show-me" value="Show me" />
              <span id="filter-loading" class="hide">Loading...</span>
            </div>
            <div class="filter_element">
              <h3>Gender</h3>
              <%= f.input :gender_opt, as: :radio_buttons, collection: ["All", "Male", "Female"], label: false %>
            </div>
            <div class="filter_element" id="age-filter">
              <h3>Age Range <span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
              <div class="slider"></div>
              <%= f.input :lo_age, as: :hidden %>
              <%= f.input :hi_age, as: :hidden %>
            </div>
            <div class="filter_element">
              <h3>Student</h3>
              <%= f.input :student_opt, as: :radio_buttons, collection: ["All", "Yes", "No"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Location</h3>
              <%= f.input :location_opt, as: :check_boxes, collection: ["All", "NYC", "LA", "DC", "SF", "Dallas", "Chicago"], label: false %>
            </div>
            <div class="filter_element" id="price-filter">
              <h3>Price <span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
              <div class="slider"></div>
              <%= f.input :lo_price, as: :hidden %>
              <%= f.input :hi_price, as: :hidden %>
            </div>
            <div class="filter_element">
              <h3>Influencer</h3>
              <%= f.input :influencer_opt, as: :radio_buttons, collection: ["Include", "Exclude", "Only influencers"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Staff</h3>
              <%= f.input :staff_opt, as: :radio_buttons, collection: ["Include", "Exclude"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Style</h3>
              <%= f.input :style_opt, as: :radio_buttons, collection: ["All", "Include", "Exclude"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Event</h3>
              <%= f.input :event_type, as: :radio_buttons, collection: ["All", "Bought", "Added", "Worn", "Last Worn"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Color</h3>
              <%= f.input :color_opt, as: :radio_buttons, collection: ["All", "Include", "Exclude"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Retailer</h3>
              <%= f.input :retailer_opt, as: :radio_buttons, collection: ["All", "Include", "Exclude"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Brand</h3>
              <%= f.input :brand_opt, as: :radio_buttons, collection: ["All", "Include", "Exclude"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Pattern</h3>
              <%= f.input :pattern_opt, as: :radio_buttons, collection: ["All", "Include", "Exclude"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Fabric</h3>
              <%= f.input :fabric_opt, as: :radio_buttons, collection: ["All", "Include", "Exclude"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Sort</h3>
              <%= f.input :sort_opt, as: :radio_buttons, collection: ["User ID", "Item ID", "Style", "Color", "Retailer", "Brand", "Pattern", "Fabric"], label: false %>
            </div>
            <div class="filter_element">
              <h3>Style TXT</h3>
              <%= f.input :style_txt, as: :string, label: false %>
            </div>
            <div class="filter_element">
              <h3>Color TXT</h3>
              <%= f.input :color_txt, as: :string, label: false %>
            </div>
            <div class="filter_element">
              <h3>Brand TXT</h3>
              <%= f.input :brand_txt, as: :string, label: false %>
            </div>
            <div class="filter_element">
              <h3>Retailer TXT</h3>
              <%= f.input :retailer_txt, as: :string, label: false %>
            </div>
            <div class="filter_element">
              <h3>Pattern TXT</h3>
              <%= f.input :pattern_txt, as: :string, label: false %>
            </div>
            <div class="filter_element">
              <h3>Fabric TXT</h3>
              <%= f.input :fabric_txt, as: :string, label: false %>
            </div>
            <div class="filter_element">
              <h3>Date Range</h3>
              <%= f.input :start_date_txt, as: :string, input_html: { placeholder: "yyyy-mm-dd", class: "datepicker" }, label: "From:" %>
              <%= f.input :end_date_txt, as: :string, input_html: { placeholder: "yyyy-mm-dd", class: "datepicker" }, label: "To:" %>
            </div>
            <div class="filter_element">
              <h3>AttribVal</h3>
              <%= f.input :attrib_val, as: :string, label: false %>
            </div>
            <div class="filter_element">
              <h3>AttribNameVal</h3>
              <%= f.input :attrib_name_val, as: :string, label: false %>
            </div>
          </div>
          <div style="clear:left">&nbsp;</div>
          <% end %>
        </div>
        <div class="segment-right">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :bottom do %>
  <div class="wide3">
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-seg">&nbsp;</div>
        <h2>SEGMENTS</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-c">&nbsp;</div>
        <h2>COLORS</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="big_chart" id="trend-line-chart" data-json="<%= chart_path("trend-line", format: :json) %>" data-pattern-odd="<%= asset_path "pattern.png" %>" data-pattern-even="<%= asset_path "pattern-d.png" %>" style="margin-bottom: 100px">
  <h1><%= yield :title %></h1>
  <div id="trend-chart-placeholder" class="hide alert alert-warning">No data yet available... Try again in a few moments.</div>
  <div id="trend-chart-toggles">
    <input name="selector1" class="green" type="checkbox" id="selector1" value="selector1" checked="checked" data-id="0" /> <label for="selector1"><span></span>Adjusted Specific Items Added</label>
  <input name="selector2" class="blue" type="checkbox" id="selector2" value="selector2" checked="checked" data-id="1" /> <label for="selector2"><span></span>Adjusted Specific Wearings</label>
  </div>
</div>
