<% title "Trends" %>

<%= content_for :sidebar_r do %>
  <div class="icon-l">&nbsp;</div>
  <div class="icon-d">&nbsp;</div>
  <div class="icon-e">&nbsp;</div>
  <div class="icon-f">&nbsp;</div>
  <div class="icon-q">&nbsp;</div>
  <div class="sidebar">
    <div class="sidebar-stats">
      <div class="stats">
        Next 15 Days<br /><br /><span class="big-number">55</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-green" style="width:55%">&nbsp;</div>
        </div>
      </div>
      <div class="stats">
        Next 30 Days<br /><br /><span class="big-number">100</span><span class="big-percent">%</span>
        <div class="bar-container">
          <div class="bar bck-red" style="width:100%">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="sidebar-form">
      <h3>Notes about Peplums</h3>
      Alexis Smith Trend shows signs of resurgence even at the store level.<br />
      2/28/2013
      <div class="textarea-container">
        <textarea name="note" placeholder="Add new note"></textarea>
        <div class="textarea-base1">
          Public/Private
        </div>
        <div class="textarea-base2">
          <input type="button" name="add-note" class="bck-green" value="Add Note" />
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :segment do %>
<%= simple_form_for [@chart, @chart_run], html: { remote: true, data: { id: @chart_run.id.to_s }, id: "trend-chart-filter-form" } do |f| %>
<div class="segment-content">
  <div class="filters">
    <div class="filter-element">
      <input type="submit" class="bck-pink" id="show-me" value="Show me" />
      <span id="filter-loading" class="hide">Loading...</span>
    </div>
    <div class="filter-element">
      <h3>Gender</h3>
      <%= f.input :gender_opt, as: :radio_buttons, collection: ["All", "Male", "Female"], label: false %>
    </div>
    <div class="filter-element" id="age-filter">
      <h3>Age Range <span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
      <div class="slider"></div>
      <%= f.input :low_age_opt, as: :hidden %>
      <%= f.input :high_age_opt, as: :hidden %>
    </div>
    <div class="filter-small-element">
      <h3>Student</h3>
      <%= f.input :student_opt, as: :radio_buttons, collection: [["NULL", "All"], ["TRUE", "Yes"], ["FALSE", "No"]], label: false %>
    </div>
    <div class="filter-small-element">
      <h3>Location</h3>
      <%= f.input :location_opt, as: :check_boxes, collection: ["All", "NYC", "LA", "DC", "SF", "Dallas", "Chicago"], label: false %>
    </div>
    <div class="filter-small-element">
      <h3>Influencer</h3>
      <%= f.input :influencer_opt, as: :radio_buttons, collection: [["NULL", "All"], ["TRUE", "Yes"], ["FALSE", "No"]], label: false %>
    </div>
    <div class="filter-small-element">
      <h3>Occasion</h3>
      <%= f.input :occasion_add_opt, as: :select, collection: ["All"] + @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
      <%= f.input :occasion_sub_opt, as: :select, collection: @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-small-element">
      <h3>Color</h3>
      <%= f.input :color_add_opt, as: :select, collection: ["All"] + @color_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      <%= f.input :color_sub_opt, as: :select, collection: @color_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
    </div>
    <div class="filter-small-element">
      <h3>Pattern</h3>
      <%= f.input :pattern_add_opt, as: :select, collection: ["All"] + @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      <%= f.input :pattern_sub_opt, as: :select, collection: @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
    </div>
    <div class="filter-small-element">
      <h3>Fabric</h3>
      <%= f.input :fabric_add_opt, as: :select, collection: ["All"] + @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      <%= f.input :fabric_sub_opt, as: :select, collection: @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
    </div>
    <div class="filter-small-element">
      <h3>Sort</h3>
      <%= f.input :sort_opt, as: :radio_buttons, collection: ["User ID", "Item ID", "Style", "Color", "Retailer", "Brand", "Pattern", "Fabric"], label: false %>
    </div>
  </div>
  <div style="clear:left">&nbsp;</div>
</div>
<div class="segment-content">
    <div class="filters">
      <div class="filter-big-element">
        <div class="label-text"><h2>Who</h2></div>
        <div id="who" class="custom-tabs">
          <ul>
            <li><a href="#who-1" class="who">Addings</a></li>
            <li><a href="#who-2" class="who">Wore</a></li>
            <li><a href="#who-2" class="who">Bought</a></li>
          </ul>
          <div id="who-1">
          </div>
          <div id="who-2">
          </div>
          <div id="who-3">
          </div>
        </div>
        <%= f.input :event_opt, as: :hidden %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>Brand</h3></div>
        <%= f.input :brand_add_opt, as: :select, collection: ["All"] + @brand_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3></h3></div>
        <%= f.input :brand_sub_opt, as: :select, collection: @brand_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>Retailer</h3></div>
        <%= f.input :retailer_add_opt, as: :select, collection: ["All"] + @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3></h3></div>
        <%= f.input :retailer_sub_opt, as: :select, collection: @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>Style</h3></div>
        <%= f.input :style_add_opt, as: :select, collection: ["All"] + @style_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3></h3></div>
        <%= f.input :style_sub_opt, as: :select, collection: @style_collection, label: false, input_html: { class: "chosen", multiple:"" } %>
      </div>
      <div class="filter-big-element" id="price-filter">
        <div class="label-text"><h3>Price</h3></div>
        <div class="content-value">
          <div class="slider"></div>
          <%= f.input :low_price_opt, as: :hidden %>
          <%= f.input :high_price_opt, as: :hidden %>
        </div>
        <h3><span class="col-pink"><span id="min"></span> - <span id="max"></span></span></h3>
      </div>
      <div class="filter-small-element">
        <h3>No Price</h3>
        <%= f.input :no_price_opt, as: :radio_buttons, collection: ["TRUE", "FALSE"], label: false %>
      </div>
      <div class="filter-big-element">
        <div class="label-text"><h3>When</h3></div>
        <%= f.input :start_date_opt, as: :string, input_html: { placeholder: "yyyy-mm-dd", class: "datepicker" }, label: false %>
        <%= f.input :end_date_opt, as: :string, input_html: { placeholder: "yyyy-mm-dd", class: "datepicker" }, label: "to" %>
      </div>
    </div>
    <div style="clear:left">&nbsp;</div>
</div>
<div class="segment-content last-segment">
  <div class="filters">
    <h2>Only show</h2>
    <div class="filter-big-element">
      <div class="label-text"><h3>Brand</h3></div>
      <%= f.input :brand_add_search, as: :select, collection: ["All"] + @brand_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :brand_sub_search, as: :select, collection: @brand_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Retailer</h3></div>
      <%= f.input :retailer_add_search, as: :select, collection: ["All"] + @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :retailer_sub_search, as: :select, collection: @retailer_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Style</h3></div>
      <%= f.input :style_add_search, as: :select, collection: ["All"] + @style_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :style_sub_search, as: :select, collection: @style_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Color</h3></div>
      <%= f.input :color_add_search, as: :select, collection: ["All"] + @color_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :color_sub_search, as: :select, collection: @color_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Pattern</h3></div>
      <%= f.input :pattern_add_search, as: :select, collection: ["All"] + @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :pattern_sub_search, as: :select, collection: @pattern_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Fabric</h3></div>
      <%= f.input :fabric_sub_search, as: :select, collection: ["All"]  + @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :fabric_sub_search, as: :select, collection: @fabric_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3>Occasion</h3></div>
      <%= f.input :occasion_add_search, as: :select, collection: ["All"] + @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
    <div class="filter-big-element">
      <div class="label-text"><h3></h3></div>
      <%= f.input :occasion_sub_search, as: :select, collection: @occasion_collection, label: false, input_html: { class: "chosen", multiple:"" }, include_blank: true %>
    </div>
  </div>
</div>
<% end %>
<% end %>

<%= content_for :bottom do %>
  <div class="wide3">
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-seg">&nbsp;</div>
        <h2>SEGMENTS</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="bottom-title">
        <div class="icon-c">&nbsp;</div>
        <h2>COLORS</h2>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
      <div class="bottom-content">
        <div class="bottom-label">
          Black
        </div>
        <div class="bottom-value col-green">
          +6.3%
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="big_chart" id="trend-line-chart" data-json="<%= chart_path("trend-line", format: :json) %>" data-pattern-odd="<%= asset_path "pattern.png" %>" data-pattern-even="<%= asset_path "pattern-d.png" %>" style="margin-bottom: 100px">
  <div id="trend-chart-placeholder" class="hide alert alert-warning">No data yet available... Try again in a few moments.</div>
</div>
