<% title 'Weather visualizations' %>

<%= content_for :title do %>
  <%= render partial: "title" %>
<% end %>

<%= content_for :segment do %>
  <%= render partial: "filter" %>
<% end %>

<%= content_for :half_1 do %>
<div class="weather" id="weather-chart" data-json="<%= chart_path(@chart, t: Time.now.to_i) %>" data-pattern="<%= asset_path "pattern.png" %>" data-width="400" data-height="400">
  <div id="weather-placeholder" class="hide alert alert-warning">No data yet available... Try again in a few moments.</div>
  <div class="weather-y-tooltips-container">
  	<div class="weather-y-tooltips">
		<div class="weather-y-tooltip">
			<h3>Warm</h3>
		</div>
		<div class="weather-y-tooltip">
			<h3>Hot</h3>
		</div>
		<div class="weather-y-tooltip">
			<h3>Cold</h3>
		</div>
		<div class="weather-y-tooltip">
			<h3>Freezing</h3>
		</div>
	</div>
  </div>
  <div class="weather-container">
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>

	<div class="weather-x-tooltip">
		<h3>Sunny</h3>
	</div>
	<div class="weather-x-tooltip">
		<h3>Overcast</h3>
	</div>
	<div class="weather-x-tooltip">
		<h3>Rainy</h3>
	</div>
	<div class="weather-x-tooltip">
		<h3>Snow</h3>
	</div>
  </div>
</div>
<% end %>

<%= content_for :half_2 do %>
	<div class="weather-legend" id="weather-chart-legend">
		<div class="weather-gradient">
			<div class="weather-grid">

			</div>
		</div>
		<div class="weather-text" id="weather-legend-text">
			<!--  -->
		</div>
	</div>
	<div class="weather-pics" id="weather-chart-pics">
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
	</div>
<% end %>