<% title "R Script: #{@r_script.name}" %>

<div class="wide" style="text-align:right;">
  <% if @r_script.running_code.blank? %>
    <%= link_to 'Activate this script', activate_admin_r_script_path(@r_script), method: :put, class: 'btn btn-success', confirm: 'Are  you sure you wanna activate this script?'  %>
  <% else %>
    <%= link_to 'DeActivate this script', activate_admin_r_script_path(@r_script, m: 0), method: :put, class: 'btn btn-success', confirm: 'Are  you sure you wanna activate this script?'  %>
  <% end %>
  <%= link_to 'Edit', edit_admin_r_script_path(@r_script), class: 'btn'  %>
  <%= link_to 'Destroy', admin_r_script_path(@r_script), method: :delete, confirm: 'Are you sure you wanna destroy this script?', class: 'btn btn-danger' %>
</div>

<% if @r_script.runs.last.present? %>
  <h3>Output</h3>
  <div class="well">
    <pre class="brush: js"><%= @r_script.runs.last.output %></pre>
  </div>
  <h3>ERR</h3>
  <div class="well">
    <pre class="brush: plain"><%= @r_script.runs.last.err %></pre>
  </div>
<% end %>

<pre class="brush: r"><%= @r_script.code %></pre>

<%= content_for :sidebar do %>
  <div class="form-styled">
    <%= simple_form_for [:admin, @r_script_run] do |f| %>
      <h2>Variables</h2>
      <%= f.input :r_script_id, as: :hidden %>
      <ul>
        <% @r_script.variables.each do |v| %>
          <li>
            <%= f.input v.to_sym, label: v %>
          </li>
        <% end %>
      </ul>
      <div class="actions">
        <%= link_to 'Run Script', "#", class: "submitter-anchor btn btn-success" %>
        <%= f.submit 'Run Script', class: "hide submitter" %>
        <%= link_to 'Clear all runs', clear_admin_r_script_path(@r_script), method: :delete, confirm: 'This will clear all runs for this script.', class: 'btn btn-danger' %>
      </div>
    <% end %>
    <% if @r_script.sources.any? %>
      <hr>
      <h2>Sources</h2>
      <ul id="sources">
        <% @r_script.sources.each_with_index do |source, index| %>
          <li id="source_<%= index %>">
            &bull;
            <%= link_to source.name, "#code-#{source.id}", data: { toggle: 'modal' } %>
            <div id="code-<%= source.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><%= source.name %></h3>
              </div>
              <div class="modal-body">
                <pre class="brush: r"><%= source.code %></pre>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>