<% title "R Script: #{@r_script.name}" %>

<div class="wide" style="text-align:right;">
  <% if @r_script.running_code.blank? %>
    <%= link_to 'Activate this script', activate_admin_r_script_path(@r_script), method: :put, class: 'btn btn-success', confirm: 'Are  you sure you wanna activate this script?'  %>
  <% else %>
    <%= link_to 'DeActivate this script', activate_admin_r_script_path(@r_script, m: 0), method: :put, class: 'btn btn-success', confirm: 'Are  you sure you wanna activate this script?'  %>
  <% end %>
  <%= link_to 'Edit', edit_admin_r_script_path(@r_script), class: 'btn'  %>
  <%= link_to 'Destroy', admin_r_script_path(@r_script), method: :delete, confirm: 'Are you sure you wanna destroy this script?', class: 'btn btn-danger' %>
</div>

<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#status" data-toggle="tab">Status</a></li>
  <li><a href="#output" data-toggle="tab">Output</a></li>
  <li><a href="#raw" data-toggle="tab">Generated Run</a></li>
  <li><a href="#template" data-toggle="tab">Template</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="status">
    <% if @r_script.runs.last.present? %>
      <pre class="brush: plain"><%= @r_script.runs.last.err %></pre>
      <p>Note: if false is return, please download the RAW file, change your credentials and debug it locally for more detailed errors.</p>
    <% else %>
      Not ran yet!
    <% end %>
  </div>
  <div class="tab-pane" id="output">
    <% if @r_script.runs.last.present? %>
      <pre class="brush: js"><%= @r_script.runs.last.output %></pre>
    <% else %>
      Not ran yet!
    <% end %>
  </div>
  <div class="tab-pane" id="raw">
    <% if @r_script.runs.last.present? %>
      <%= link_to "View RAW file", preview_admin_r_script_path(@r_script), target: "_blank", class: "btn" %><br><br>
      <pre class="brush: js"><%= @r_script.runs.last.generated_script %></pre>
    <% else %>
      Not ran yet!
    <% end %>
  </div>
  <div class="tab-pane" id="template">
    <pre class="brush: r"><%= @r_script.code %></pre>
  </div>
</div>

<%= content_for :sidebar do %>
  <div class="form-styled">
    <%= simple_form_for [:admin, @r_script_run] do |f| %>
      <h2>Variables</h2>
      <%= f.input :r_script_id, as: :hidden %>
      <ul>
        <% @r_script.variables.each do |v| %>
          <li>
            <%= f.input v.to_sym, label: v %>
          </li>
        <% end %>
      </ul>
      <div class="actions">
        <%= link_to 'Run Script', "#", class: "submitter-anchor btn btn-success" %>
        <%= f.submit 'Run Script', class: "hide submitter" %>
        <%= link_to 'Clear all runs', clear_admin_r_script_path(@r_script), method: :delete, confirm: 'This will clear all runs for this script.', class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
<% end %>