<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> ~ Client Dashboard</title>
  <%= stylesheet_link_tag    "back", :media => "all" %>
  <%= javascript_include_tag "back" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header">
    <div class="logo">
      &nbsp;
    </div>
    <div class="menu">
      <ul>
        <li><%= link_to 'Home', admin_root_path %></li>
        <li class="<%= 'active' if request[:controller] == 'admin/users' %>"><%= link_to 'Users', admin_users_path %></li>
        <li class="<%= 'active' if request[:controller] == 'admin/r_scripts' %>"><%= link_to 'R Scripts', admin_r_scripts_path %></li>

        <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
  <div class="inner-content">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <%= msg %>
      </div>
    <% end %>

    <h2><%= yield :title %></h2>

    <div class="wide column">
      <%= yield %>
    </div>
    <div class="right column span-34">
      <%= yield :sidebar %>
    </div>
  </div>
</div>

</body>
</html>
