<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> ~ Client Dashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div class="header">
    <div class="logo">
      &nbsp;
    </div>
    <div class="menu">
      <ul>
        <li><%= link_to 'Home', admin_root_path %></li>
        <li class="<%= 'active' if request[:controller] == 'admin/users' %>"><%= link_to 'Users', admin_users_path %></li>
        <li class="<%= 'active' if request[:controller] == 'admin/r_scripts' %>"><%= link_to 'R Scripts', admin_r_scripts_path %></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="center-and-left">
      <%= yield %>
    </div>
    <div class="right">
      RRR
    </div>
  </div>
</div>

</body>
</html>
