<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> ~ Client Dashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div class="header">
    <div class="menu">
      <ul>
        <li class="active"><a href="#" id="open-filters"><i id="open-filter-icon" class="icon-chevron-right"></i></a></li>
        <!--<li class="<%= "active" if request[:action] == "index" %>"><%= link_to 'Home', root_path %></li>-->
        <li class="<%= "active" if request[:action] == "trends" %>"><%= link_to "Trends", trends_path %></li>
        <li class="<%= "active" if request[:action] == "trends2" %>"><%= link_to "Trends2", trends2_path %></li>
        <li class="<%= "active" if request[:action] == "brandshare" %>"><%= link_to "BrndShr", brandshare_path %></li>
        <li class="<%= "active" if request[:action] == "top25brands" %>"><%= link_to "25Brnds", top25brands_path %></li>
        <li class="<%= "active" if request[:action] == "top25retailers" %>"><%= link_to "25Ret", top25retailers_path %></li>
        <li class="<%= "active" if request[:action] == "top10colorspatternsstyles" %>"><%= link_to "Top 10", top10colorspatternsstyles_path %></li>
        <li class="<%= "active" if request[:action] == "outfitstreamlookup" %>"><%= link_to "Outfit stream", outfitstreamlookup_path %></li>
        <li class="<%= "active" if request[:action] == "weathervisualizations" %>"><%= link_to "Weather", weathervisualizations_path %></li>
      </ul>
    </div>
    <div class="logo">
      &nbsp;
    </div>
  </div>
  <div class="inner-content">
    <div class="wide2">
      <%= yield :filters %>
    </div>
    <div class="left">
      <%= yield :sidebar %>
    </div>
    <div class="wide">
      <%= yield %>
    </div>
    <div class="right">
      <%= yield :sidebar_r %>
    </div>
    <div class="wide2">
      <%= yield :bottom %>
    </div>
  </div>
</div>

</body>
</html>
