<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> ~ Client Dashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div class="header">
    <div class="logo">
      &nbsp;
    </div>
    <div class="menu">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="#">Catalog</a></li>
        <li><a href="#">Segments</a></li>
        <li><a href="#">Competitors</a></li>
        <li><a href="#">Trends</a></li>
        <li><a href="#">Local</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <div class="title">
        <h2>Filter segment</h2>
        <h2 class="alternate">or choose a saved one</h2>
      </div>
      <div class="filters">
        <div class="slider"></div>
        <hr>
        <div class="calendar"><input name="datepicker" type="text" class="datepicker" size="10" /></div>
        <hr>
        <div class="checkbox"><input name="checkbox" type="checkbox" id="checkbox" value="checkbox" /> <label for="checkbox"><span></span>Checkbox</label></div>
        <hr>
        <div class="radio">
          <input name="radio" type="radio" id="radio1" value="radio1" /> <label for="radio1"><span></span>Radio1</label>
          <input name="radio" type="radio" id="radio2" value="radio2" /> <label for="radio2"><span></span>Radio2</label>
        </div>
      </div>
    </div>
    <div class="center">
      <%= yield %>
    </div>
    <div class="right">
      RRR
    </div>
  </div>
</div>

</body>
</html>
