<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> ~ Client Dashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div class="header">
    <div class="menu">
      <ul>
        <!--<li class="<%= "active" if request[:action] == "index" %>"><%= link_to 'Home', root_path %></li>-->
        <li class="<%= "active" if request[:action] == "trends" %>"><%= link_to "Trends", trends_path %></li>
        <li class="<%= "active" if request[:action] == "trends2" %>"><%= link_to "Trends2", trends2_path %></li>
        <li class="<%= "active" if request[:action] == "brandshare" %>"><%= link_to "BrndShr", brandshare_path %></li>
        <li class="<%= "active" if request[:action] == "top25brands" %>"><%= link_to "25Brnds", top25brands_path %></li>
        <li class="<%= "active" if request[:action] == "top25retailers" %>"><%= link_to "25Ret", top25retailers_path %></li>
        <li class="<%= "active" if request[:action] == "top10colorspatternsstyles" %>"><%= link_to "Top 10", top10colorspatternsstyles_path %></li>
        <li class="<%= "active" if request[:action] == "outfitstreamlookup" %>"><%= link_to "Outfit stream", outfitstreamlookup_path %></li>
        <li class="<%= "active" if request[:action] == "weathervisualizations" %>"><%= link_to "Weather", weathervisualizations_path %></li>
      </ul>
    </div>
    <div class="logo">
      &nbsp;
    </div>
  </div>
  <div class="inner-content">
    <div class="wide2">
      <div class="filters-zone">
    <div class="title-container">
      <div class="title">
        <h2>Currently Viewing: {placeholder}</h2>
      </div>
      <div class="title-buttons">
        <div class="change-filters">
          <h3 class="col-blue">Change Filters</h3>
        </div>
        <div class="my-saved-segments" id="my-saved-segments">
          <h3 class="color-blue">My Saved Segments <i id="icon" class="icon-chevron-down"></i></h3>
        </div>
      </div>
    </div>

    <div class="filters-container" id="filters-container">
      <div class="define-your-segment">
        <h2>Define your segment</h2>
      </div>
      <div class="filter-your-results">
        <h2>Filter your results</h2>
      </div>
      <div class="segment">
          <%= yield :segment %>
      </div>
    </div>
  </div>
    </div>
    <div class="full">
      <div class="third">
        <%= yield :third_1 %>
      </div>
      <div class="third">
        <%= yield :third_2 %>
      </div>
      <div class="third">
        <%= yield :third_3 %>
      </div>
    </div>
    <div class="full">
      <div class="half">
        <%= yield :half_1 %>
      </div>
      <div class="half">
        <%= yield :half_2 %>
      </div>
    </div>
    <div class="full">
      <%= yield :full %>
    </div>
    <div class="wide">
      <%= yield %>
    </div>
    <div class="right">
      <%= yield :sidebar_r %>
    </div>
    <div class="wide2">
      <%= yield :bottom %>
    </div>
  </div>
</div>

</body>
</html>
