<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> ~ Client Dashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div class="header">
    <div class="logo">
      &nbsp;
    </div>
    <div class="menu">
      <ul>
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><a href="#">Catalog</a></li>
        <li><a href="#">Segments</a></li>
        <li><a href="#">Competitors</a></li>
        <li><a href="#">Trends</a></li>
        <li><a href="#">Local</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <%= yield :sidebar %>
    </div>
    <div class="center">
      <%= yield %>
    </div>
    <div class="right">
      <%= yield :sidebar_r %>
    </div>
    <div class="wide2">
      &nbsp;
    </div>
  </div>
</div>

</body>
</html>
