<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> ~ Client Dashboard</title>
  <%= stylesheet_link_tag    "back", :media => "all" %>
  <%= javascript_include_tag "back" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %> flash-<%= name == :notice ? "success" : "error" %> hide">
    <%= msg %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
